# All paths used in this file start at the root of the repository

# The base directory mirror where Kiwix stores its ZIM repositories
BASE_URL = https://ftp.fau.de/kiwix/zim/wikipedia/

# The exact naming convention you want to scan and download.
# {lang} is the dynamic token replaced on the fly by your scripts.
MATCH_PATTERN = wikipedia_{lang}_all_nopic_(\d{4}-\d{2})\.zim

# The local folder where you want the .zim files to be saved
DOWNLOAD_PATH = zim_files

# The exact location of your filtered active language list
LANGUAGES_CONFIG_PATH = config/languages.config


# URL to the specialized Wikidata Sitelinks dump
WIKIDATA_URL = https://dumps.wikimedia.org/wikidatawiki/latest/wikidatawiki-latest-wb_items_per_site.sql.gz

# Path to the local file where the Wikidata Sitelinks dump will be saved
WIKIDATA_PATH = zim_files
