# Cyberdeck Language Configuration
# Format: { 'code': 'name' }
# Uncomment (remove the #) to include in your download queue.

# { 'ab': 'Abkhazian' },
# { 'ace': 'Achinese' },
# { 'ady': 'Adyghe' },
# { 'af': 'Afrikaans' },
# { 'sq': 'Albanian' },
# { 'am': 'Amharic' },
# { 'ami': 'Amis' },
# { 'anp': 'Angika' },
# { 'ar': 'Arabic' },
# { 'an': 'Aragonese' },
# { 'hy': 'Armenian' },
# { 'frp': 'Arpitan' },
# { 'as': 'Assamese' },
# { 'ast': 'Asturian' },
# { 'tay': 'Atayal' },
# { 'atj': 'Atikamekw' },
# { 'av': 'Avaric' },
# { 'awa': 'Awadhi' },
# { 'ay': 'Aymara' },
# { 'az': 'Azerbaijani' },
# { 'ban': 'Balinese' },
# { 'bm': 'Bambara' },
# { 'bjn': 'Banjar' },
# { 'ba': 'Bashkir' },
# { 'eu': 'Basque' },
# { 'bar': 'Bavarian' },
# { 'be': 'Belarusian' },
# { 'be-tarask': 'Belarusian (Taraškievica)' },
# { 'bn': 'Bengali' },
# { 'bho': 'Bhojpuri' },
# { 'bpy': 'Bishnupriya' },
# { 'bi': 'Bislama' },
# { 'bs': 'Bosnian' },
# { 'br': 'Breton' },
# { 'bug': 'Buginese' },
# { 'bg': 'Bulgarian' },
# { 'my': 'Burmese' },
# { 'ca': 'Catalan' },
# { 'ceb': 'Cebuano' },
# { 'bcl': 'Central Bikol' },
# { 'ckb': 'Central Kurdish' },
# { 'ch': 'Chamorro' },
# { 'cbk': 'Chavacano' },
# { 'ce': 'Chechen' },
# { 'chr': 'Cherokee' },
# { 'chy': 'Cheyenne' },
# { 'ny': 'Chichewa' },
# { 'zh': 'Chinese' },
# { 'cu': 'Church Slavic' },
# { 'cv': 'Chuvash' },
# { 'kw': 'Cornish' },
# { 'co': 'Corsican' },
# { 'cr': 'Cree' },
# { 'crh': 'Crimean Tatar' },
# { 'hr': 'Croatian' },
# { 'cs': 'Czech' },
# { 'dag': 'Dagbani' },
# { 'da': 'Danish' },
# { 'diq': 'Dimli (individual language)' },
# { 'din': 'Dinka' },
# { 'dv': 'Divehi' },
# { 'dty': 'Dotyali' },
# { 'nl': 'Dutch' },
# { 'dz': 'Dzongkha' },
# { 'mhr': 'Eastern Mari' },
# { 'arz': 'Egyptian Arabic' },
{ 'en': 'English' },
# { 'myv': 'Erzya' },
# { 'eo': 'Esperanto' },
# { 'et': 'Estonian' },
# { 'ee': 'Ewe' },
# { 'ext': 'Extremaduran' },
# { 'fat': 'Fanti' },
# { 'gur': 'Farefare' },
# { 'fo': 'Faroese' },
# { 'hif': 'Fiji Hindi' },
# { 'fj': 'Fijian' },
# { 'fi': 'Finnish' },
# { 'fon': 'Fon' },
# { 'fr': 'French' },
# { 'fur': 'Friulian' },
# { 'ff': 'Fulah' },
# { 'gag': 'Gagauz' },
# { 'gl': 'Galician' },
# { 'gan': 'Gan Chinese' },
# { 'lg': 'Ganda' },
# { 'ka': 'Georgian' },
{ 'de': 'German' },
# { 'glk': 'Gilaki' },
# { 'gom': 'Goan Konkani' },
# { 'gor': 'Gorontalo' },
# { 'got': 'Gothic' },
# { 'gn': 'Guarani' },
# { 'gcr': 'Guianese Creole French' },
# { 'gu': 'Gujarati' },
# { 'ht': 'Haitian' },
# { 'hak': 'Hakka Chinese' },
# { 'ha': 'Hausa' },
# { 'haw': 'Hawaiian' },
# { 'he': 'Hebrew' },
# { 'hi': 'Hindi' },
# { 'hu': 'Hungarian' },
# { 'is': 'Icelandic' },
# { 'io': 'Ido' },
# { 'ig': 'Igbo' },
# { 'ilo': 'Iloko' },
# { 'smn': 'Inari Sami' },
# { 'id': 'Indonesian' },
# { 'inh': 'Ingush' },
# { 'ia': 'Interlingua (International Auxiliary Language Association)' },
# { 'ie': 'Interlingue' },
# { 'iu': 'Inuktitut' },
# { 'ik': 'Inupiaq' },
# { 'ga': 'Irish' },
# { 'it': 'Italian' },
# { 'jam': 'Jamaican Creole English' },
# { 'ja': 'Japanese' },
# { 'jv': 'Javanese' },
# { 'nrf': 'Jèrriais' },
# { 'kbd': 'Kabardian' },
# { 'kbp': 'Kabiyè' },
# { 'kab': 'Kabyle' },
# { 'kl': 'Kalaallisut' },
# { 'xal': 'Kalmyk' },
# { 'kn': 'Kannada' },
# { 'kaa': 'Kara-Kalpak' },
# { 'krc': 'Karachay-Balkar' },
# { 'ks': 'Kashmiri' },
# { 'csb': 'Kashubian' },
# { 'kk': 'Kazakh' },
# { 'km': 'Khmer' },
# { 'ki': 'Kikuyu' },
# { 'rw': 'Kinyarwanda' },
# { 'ky': 'Kirghiz' },
# { 'kv': 'Komi' },
# { 'koi': 'Komi-Permyak' },
# { 'kg': 'Kongo' },
# { 'ko': 'Korean' },
# { 'avk': 'Kotava' },
# { 'ku': 'Kurdish' },
# { 'ksh': 'Kölsch' },
# { 'lld': 'Ladin' },
# { 'lad': 'Ladino' },
# { 'lbe': 'Lak' },
# { 'lo': 'Lao' },
# { 'ltg': 'Latgalian' },
# { 'la': 'Latin' },
# { 'lv': 'Latvian' },
# { 'lez': 'Lezghian' },
# { 'lij': 'Ligurian' },
# { 'li': 'Limburgan' },
# { 'ln': 'Lingala' },
# { 'lfn': 'Lingua Franca Nova' },
# { 'lzh': 'Literary Chinese' },
# { 'lt': 'Lithuanian' },
# { 'olo': 'Livvi' },
# { 'jbo': 'Lojban' },
# { 'lmo': 'Lombard' },
# { 'nds': 'Low German' },
# { 'dsb': 'Lower Sorbian' },
# { 'lb': 'Luxembourgish' },
# { 'rup': 'Macedo-Romanian' },
# { 'mk': 'Macedonian' },
# { 'mad': 'Madurese' },
# { 'mai': 'Maithili' },
# { 'mg': 'Malagasy' },
# { 'ms': 'Malay (macrolanguage)' },
# { 'ml': 'Malayalam' },
# { 'mt': 'Maltese' },
# { 'mni': 'Manipuri' },
# { 'gv': 'Manx' },
# { 'mi': 'Maori' },
# { 'mr': 'Marathi' },
# { 'mzn': 'Mazanderani' },
# { 'cdo': 'Min Dong Chinese' },
# { 'nan': 'Min Nan Chinese' },
# { 'min': 'Minangkabau' },
# { 'xmf': 'Mingrelian' },
# { 'mwl': 'Mirandese' },
# { 'el': 'Modern Greek (1453-)' },
# { 'mdf': 'Moksha' },
# { 'mnw': 'Mon' },
# { 'mn': 'Mongolian' },
# { 'ary': 'Moroccan Arabic' },
# { 'nqo': 'N'Ko' },
# { 'nv': 'Navajo' },
# { 'nap': 'Neapolitan' },
# { 'new': 'Nepal Bhasa' },
# { 'ne': 'Nepali (macrolanguage)' },
# { 'nia': 'Nias' },
# { 'frr': 'Northern Frisian' },
# { 'se': 'Northern Sami' },
# { 'nb': 'Norwegian Bokmål' },
# { 'nn': 'Norwegian Nynorsk' },
# { 'nov': 'Novial' },
# { 'oc': 'Occitan (post 1500)' },
# { 'arc': 'Official Aramaic (700-300 BCE)' },
# { 'ang': 'Old English (ca. 450-1100)' },
# { 'or': 'Oriya (macrolanguage)' },
# { 'om': 'Oromo' },
# { 'os': 'Ossetian' },
# { 'blk': 'Pa'o Karen' },
# { 'pwn': 'Paiwan' },
# { 'pi': 'Pali' },
# { 'pam': 'Pampanga' },
# { 'pag': 'Pangasinan' },
# { 'pa': 'Panjabi' },
# { 'pap': 'Papiamento' },
# { 'nso': 'Pedi' },
# { 'pdc': 'Pennsylvania German' },
# { 'fa': 'Persian' },
# { 'pfl': 'Pfaelzisch' },
# { 'pcd': 'Picard' },
# { 'pms': 'Piemontese' },
# { 'pih': 'Pitcairn-Norfolk' },
# { 'pl': 'Polish' },
# { 'pnt': 'Pontic' },
# { 'pt': 'Portuguese' },
# { 'ps': 'Pushto' },
# { 'qu': 'Quechua' },
# { 'ro': 'Romanian' },
# { 'rm': 'Romansh' },
# { 'rn': 'Rundi' },
# { 'bxr': 'Russia Buriat' },
# { 'ru': 'Russian' },
# { 'rue': 'Rusyn' },
# { 'szy': 'Sakizaya' },
# { 'sm': 'Samoan' },
# { 'sgs': 'Samogitian' },
# { 'sg': 'Sango' },
# { 'sa': 'Sanskrit' },
# { 'sat': 'Santali' },
# { 'skr': 'Saraiki' },
# { 'sc': 'Sardinian' },
# { 'stq': 'Saterfriesisch' },
# { 'sco': 'Scots' },
# { 'gd': 'Scottish Gaelic' },
# { 'trv': 'Sediq' },
# { 'sr': 'Serbian' },
# { 'sh': 'Serbo-Croatian' },
# { 'shn': 'Shan' },
# { 'sn': 'Shona' },
# { 'scn': 'Sicilian' },
# { 'szl': 'Silesian' },
# { 'en-simple': 'Simple English' },
# { 'sd': 'Sindhi' },
# { 'si': 'Sinhala' },
# { 'sk': 'Slovak' },
# { 'sl': 'Slovenian' },
# { 'so': 'Somali' },
# { 'azb': 'South Azerbaijani' },
# { 'alt': 'Southern Altai' },
# { 'st': 'Southern Sotho' },
# { 'es': 'Spanish' },
# { 'srn': 'Sranan Tongo' },
# { 'su': 'Sundanese' },
# { 'sw': 'Swahili (macrolanguage)' },
# { 'ss': 'Swati' },
# { 'sv': 'Swedish' },
# { 'gsw': 'Swiss German' },
# { 'shi': 'Tachelhit' },
# { 'tl': 'Tagalog' },
# { 'ty': 'Tahitian' },
# { 'tg': 'Tajik' },
# { 'ta': 'Tamil' },
# { 'tt': 'Tatar' },
# { 'te': 'Telugu' },
# { 'tet': 'Tetum' },
# { 'th': 'Thai' },
# { 'bo': 'Tibetan' },
# { 'ti': 'Tigrinya' },
# { 'tpi': 'Tok Pisin' },
# { 'to': 'Tonga (Tonga Islands)' },
# { 'ts': 'Tsonga' },
# { 'tn': 'Tswana' },
# { 'tcy': 'Tulu' },
# { 'tum': 'Tumbuka' },
# { 'tr': 'Turkish' },
# { 'tk': 'Turkmen' },
# { 'tyv': 'Tuvinian' },
# { 'tw': 'Twi' },
# { 'kcg': 'Tyap' },
# { 'udm': 'Udmurt' },
# { 'ug': 'Uighur' },
# { 'uk': 'Ukrainian' },
# { 'eml': 'Unknown (eml)' },
# { 'map-bms': 'Unknown (map-bms)' },
# { 'nah': 'Unknown (nah)' },
# { 'nds-nl': 'Unknown (nds-nl)' },
# { 'roa': 'Unknown (roa)' },
# { 'roa-tara': 'Unknown (roa-tara)' },
# { 'hsb': 'Upper Sorbian' },
# { 'ur': 'Urdu' },
# { 'uz': 'Uzbek' },
# { 've': 'Venda' },
# { 'vec': 'Venetian' },
# { 'vep': 'Veps' },
# { 'vi': 'Vietnamese' },
# { 'vls': 'Vlaams' },
# { 'rmy': 'Vlax Romani' },
# { 'vo': 'Volapük' },
# { 'vro': 'Võro' },
# { 'wa': 'Walloon' },
# { 'war': 'Waray (Philippines)' },
# { 'guc': 'Wayuu' },
# { 'cy': 'Welsh' },
# { 'hyw': 'Western Armenian' },
# { 'fy': 'Western Frisian' },
# { 'mrj': 'Western Mari' },
# { 'pnb': 'Western Panjabi' },
# { 'wo': 'Wolof' },
# { 'wuu': 'Wu Chinese' },
# { 'xh': 'Xhosa' },
# { 'sah': 'Yakut' },
# { 'yi': 'Yiddish' },
# { 'yo': 'Yoruba' },
# { 'yue': 'Yue Chinese' },
# { 'zea': 'Zeeuws' },
# { 'za': 'Zhuang' },
# { 'zu': 'Zulu' },
